<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Weldings.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Weldings.Properties.Settings>
            <setting name="PapildomoPastaba" serializeAs="String">
                <value> PT-{0}/{1}/{2:d}</value>
            </setting>
            <setting name="PirmiejiSuvirinimaiFile" serializeAs="String">
                <value>C:\Users\pc\Documents\Visual Studio 2017\Projects\Weldings\DB\pirmieji.txt</value>
            </setting>
            <setting name="NepirmiejiSuvirinimaiFile" serializeAs="String">
                <value>C:\Users\pc\Documents\Visual Studio 2017\Projects\Weldings\DB\kiti.txt</value>
            </setting>
            <setting name="Ifas" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="OleDbConnectionString" serializeAs="String">
                <value>Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Persist Security Info=False;</value>
            </setting>
            <setting name="AccessDbPath" serializeAs="String">
                <value>C:\Users\pc\Documents\Visual Studio 2017\Projects\Weldings\DB\Def2010-IF4.mdb</value>
            </setting>
            <setting name="DataVerifyOutputFilePath" serializeAs="String">
                <value>C:\Users\pc\Desktop\DataVerifyErrors.txt</value>
            </setting>
            <setting name="ApplicationName" serializeAs="String">
                <value>Google Sheets API .NET</value>
            </setting>
            <setting name="SpreadsheetsJsonFilePath" serializeAs="String">
                <value>./data/spreadsheets.json</value>
            </setting>
            <setting name="StartRow" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DateFormat" serializeAs="String">
                <value>yyyy-MM-dd</value>
            </setting>
            <setting name="OutputPath" serializeAs="String">
                <value>C:/WeldingOutput</value>
            </setting>
            <setting name="DBBackupFilenameFormat" serializeAs="String">
                <value>db_backup {0:yyyy-MM-dd H-mm-ss}</value>
            </setting>
        </Weldings.Properties.Settings>
    </userSettings>
</configuration>