<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Weldings.Properties.StartFormMessages" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Weldings.Properties.Messages" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Weldings.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
	<system.net>
		<defaultProxy/>
	</system.net>
    <userSettings>
        <Weldings.Properties.StartFormMessages>
            <setting name="CannotCreateOutputFolder" serializeAs="String">
                <value>Cannot create the output folder  "{0}". Try to create it manually.\n</value>
            </setting>
            <setting name="CreateFolderErrorTitle" serializeAs="String">
                <value>Create Folder Error</value>
            </setting>
            <setting name="DataVerifyOutputHeaderFormat" serializeAs="String">
                <value>Verifying {0}, {1}</value>
            </setting>
            <setting name="UnexpectedExceptionHeader" serializeAs="String">
                <value>Unexpected exception: </value>
            </setting>
            <setting name="DataVerifyErrorTitle" serializeAs="String">
                <value>Data Verify Error</value>
            </setting>
            <setting name="VerifyDoneMessage" serializeAs="String">
                <value>Tikrinimas sėkmingai atliktas. Aptiktos problemos išvardintos faile "{0}"</value>
            </setting>
            <setting name="TaskAccomplishedTitle" serializeAs="String">
                <value>Task Accomplished</value>
            </setting>
            <setting name="UnableCreateDBCopy" serializeAs="String">
                <value>Unable to create database file copy: \n\tfrom: "{0}"\n\tto: "{1}"\n\n</value>
            </setting>
            <setting name="FileCopyErrorTitle" serializeAs="String">
                <value>File Copy Error</value>
            </setting>
            <setting name="DataUpdateOutputHeaderFormat" serializeAs="String">
                <value>Updating {0}, {1}</value>
            </setting>
            <setting name="RollbackFailureError" serializeAs="String">
                <value>Operation aborted after rollback failure of unusuccessful update transaction</value>
            </setting>
            <setting name="OperationAbortedTitle" serializeAs="String">
                <value>Operation Aborted</value>
            </setting>
            <setting name="UpdateErrorTitle" serializeAs="String">
                <value>DB Update Error</value>
            </setting>
            <setting name="UnableWriteUpdateInfoFile" serializeAs="String">
                <value>Nepavyko įrašyti informacijos apie update procesą į "{0}"\n</value>
            </setting>
            <setting name="FileWriteErrorTitle" serializeAs="String">
                <value>File Write Error</value>
            </setting>
            <setting name="UnableWriteVerifyInfoFile" serializeAs="String">
                <value>Nepavyko įrašyti informacijos apie verify procesą į "{0}"\n</value>
            </setting>
            <setting name="UnableWriteUpdateReportFile" serializeAs="String">
                <value>Nepavyko įrašyti update suvestinės į "{0}"\n</value>
            </setting>
            <setting name="OpenFileDialogTitle" serializeAs="String">
                <value>Select database file</value>
            </setting>
            <setting name="SelectFolderDialogTitle" serializeAs="String">
                <value>Select output folder</value>
            </setting>
            <setting name="BadFileNameFormatMessage" serializeAs="String">
                <value>Bad {0} file name format "{1}"\n</value>
            </setting>
            <setting name="BadStringFormatErrorTitle" serializeAs="String">
                <value>Bad String Format</value>
            </setting>
            <setting name="OutputFileExtension" serializeAs="String">
                <value>.txt</value>
            </setting>
            <setting name="SettingsSavedMsg" serializeAs="String">
                <value>Settings saved</value>
            </setting>
            <setting name="SettingsSavedBoxTitle" serializeAs="String">
                <value>Operation Success</value>
            </setting>
            <setting name="UpdateDoneMessage" serializeAs="String">
                <value>Darbas sėkmingai atliktas. Rezultatai ir problemos išvardintos faile "{0}"</value>
            </setting>
        </Weldings.Properties.StartFormMessages>
        <Weldings.Properties.Messages>
            <setting name="RepeatedRecordsHeader" serializeAs="String">
                <value>Pasikartojantys suvirinimai: </value>
            </setting>
            <setting name="OperSheetFrmt" serializeAs="String">
                <value>Operatorius: {0}, lentelė: "{1}". </value>
            </setting>
            <setting name="GSDataFetchFail" serializeAs="String">
                <value>Google Sheets data fetch FAIL</value>
            </setting>
            <setting name="VerifyOperationErrorMsgTitle" serializeAs="String">
                <value>Data Verify Operation Error</value>
            </setting>
            <setting name="BadGSData" serializeAs="String">
                <value>Yra blogų duomenų Google Sheets</value>
            </setting>
            <setting name="GSDataConvertFail" serializeAs="String">
                <value>Nepavyksta Google Sheets lentelės duomenų paversti tinkamais įrašyti į DB</value>
            </setting>
            <setting name="GSDataVerifyResult" serializeAs="String">
                <value>Google Sheets duomenų patikrinimo rezultatas: </value>
            </setting>
            <setting name="GSUpdateFailInstruction" serializeAs="String">
                <value>DĖMESIO! Kadangi duomenys į duomenų bazę sukelti, tie duomenys bus įtraukti į ataskaitą, kaip sutvarkyti. TAČIAU Google Sheets lentelę reikėtų sutvarkyti rankiniu būdu - prisijungti prie Google Sheets, atsidaryti lentelę ir joje pažymėti, kurie duomenys yra sukelti į DB.</value>
            </setting>
            <setting name="GSUpdateFail" serializeAs="String">
                <value>Google Sheets update FAIL</value>
            </setting>
            <setting name="GSUpdateOK" serializeAs="String">
                <value>Google Sheets update OK</value>
            </setting>
            <setting name="DBUpdateOK" serializeAs="String">
                <value>DB update OK</value>
            </setting>
            <setting name="DBUpdateFailTransOK" serializeAs="String">
                <value>DB update FAIL, transaction rollback OK</value>
            </setting>
            <setting name="DBUpdateFailTransFail" serializeAs="String">
                <value>DB update FAIL, transaction rollback FAIL</value>
            </setting>
            <setting name="FailureInfo" serializeAs="String">
                <value>Failure info: </value>
            </setting>
            <setting name="GSDataVerifyFail" serializeAs="String">
                <value>Google Sheets data verify FAIL</value>
            </setting>
            <setting name="GSDataVerifyOK" serializeAs="String">
                <value>Google Sheets data verify OK</value>
            </setting>
            <setting name="UpdateOperationErrorMsgTitle" serializeAs="String">
                <value>DB Update Operation Error</value>
            </setting>
        </Weldings.Properties.Messages>
        <Weldings.Properties.Settings>
            <setting name="PapildomoPastaba" serializeAs="String">
                <value> PT-{0}/{1}/{2:d}</value>
            </setting>
            <setting name="Ifas" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="OleDbConnectionString" serializeAs="String">
                <value>Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Persist Security Info=False;</value>
            </setting>
            <setting name="AccessDbPath" serializeAs="String">
                <value>C:\Users\pc\Documents\Visual Studio 2017\Projects\Weldings\DB\Def2010-IF4.mdb</value>
            </setting>
            <setting name="ApplicationName" serializeAs="String">
                <value>Google Sheets API .NET</value>
            </setting>
            <setting name="SpreadsheetsJsonFilePath" serializeAs="String">
                <value>./data/spreadsheets.json</value>
            </setting>
            <setting name="DateFormat" serializeAs="String">
                <value>yyyy-MM-dd</value>
            </setting>
            <setting name="OutputPath" serializeAs="String">
                <value>C:/WeldingOutput</value>
            </setting>
            <setting name="DBBackupFilenameFormat" serializeAs="String">
                <value>db_backup {0:yyyy-MM-dd} {1:H-mm-ss}</value>
            </setting>
            <setting name="CheckDateIfReal" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AllowedDayCount" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="DataVerifyFileNameFormat" serializeAs="String">
                <value>data_verify_info {0:yyyy-MM-dd} {1:H-mm-ss}</value>
            </setting>
            <setting name="DbUpdateFileNameFormat" serializeAs="String">
                <value>db_update_info {0:yyyy-MM-dd} {1:H-mm-ss}</value>
            </setting>
            <setting name="SpreadsheetsJsonPath" serializeAs="String">
                <value>./data/Spreadsheets.json</value>
            </setting>
            <setting name="UpdateReportFileNameFormat" serializeAs="String">
                <value>db_update_report {0:yyyy-MM-dd} {1:H-mm-ss}</value>
            </setting>
            <setting name="Proxy" serializeAs="String">
                <value>proxy.adm.lg</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>8080</value>
            </setting>
            <setting name="ClientSecretFile" serializeAs="String">
                <value>client_secret.json</value>
            </setting>
            <setting name="CredentialDir" serializeAs="String">
                <value>.credentials/sheets.googleapis.com-dotnet.json</value>
            </setting>
            <setting name="AbortOnFailedRollback" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CreateDBBackup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogFileName" serializeAs="String">
                <value>log.txt</value>
            </setting>
        </Weldings.Properties.Settings>
    </userSettings>
</configuration>